~
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.zip
*.[Rr]e[Ss]harper
*.dotCover
